# See http://help.github.com/ignore-files/ for more about ignoring files.
backend/old

backend/tree

backend/post

# compiled output
interfaz/dist
interfaz/tmp
interfaz/out-tsc
# Only exists if Bazel was run
/interfazbazel-out

# dependencies
interfaz/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
interfaz/.idea
interfaz/.project
interfaz/.classpath
interfaz/.c9/
interfaz/*.launch
interfaz/.settings/
interfaz/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
